<!doctype html>
<html>
  <head>
<!--
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-easyui-themes/ui-cupertino_perso/easyui.css') }}" />
-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/jQuery_UI/themes/default/easyui.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/jQuery_UI/themes/icon.css') }}" />
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <script type="text/javascript" src="{{ url_for('static', filename='js/jQuery_UI/jquery.min.js') }}" /></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jQuery_UI/jquery.easyui.min.js') }}" /></script>   
  </head>
  
  <body>    
<style>
text {
    fill: #000;
    stroke: none;
	}

.line-separator, .x-axis, .y-tick {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
	}
.line-separator:last-child {
    display: none;
	}

.x-axis {
    position: absolute;
    z-index: 50;
	}
</style>

	<svg class="alphaplot">	</svg>
	<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotalpha.js') }}" /></script>   


  <script>
	  
	var data        = {{ data|safe }}
	var nbseq       = {{ nbseq|safe }}
	var maxposition = {{ maxposition|safe }}
	var m           = d3.range(-1,nbseq)
	
	plotalpha(data, nbseq, maxposition, m)
								  
   </script>
   

<br>

  </body>
</html>
